/* ==================================
   Responsive CSS
=====================================*/

/* Full HD and below */
@media screen and (max-width: 1920px) {
    
}

/* Desktop */
@media screen and (max-width: 1440px) {
    .main-common-section{
        padding: 0px 20px;
    }
    .common-why-chose-section .container {
       padding: 0px 20px;
    }
    .hero-section {
        padding: 80px 20px;
    }
    .trusted-section .main-column {
        padding: 0px 20px;
    }
    .about-section .about-container {
        padding: 0px 20px;
    }
}

/* Large Laptop */
@media screen and (max-width: 1280px) {
    .contact-section {
        padding: 80px 20px;
    }
    .main-footer {
        padding: 0px 20px;
    }
    .map-section {
        padding: 80px 20px;
    }
    .newsletter-about-section {
        padding: 80px 20px;
        margin-top: 80px;
    }
    .main-common-section .main-common-container {
        row-gap: 80px;
    }
    .benifits-section {
        margin: 80px 0px;
        padding: 0px 20px;
    }
    .benifits-section .benifitst-column {
        padding: 60px 20px;
    }
    .benifits-section .befifits-container {
        gap: 60px;
    }
    .about-section .about-container .main-column {
        row-gap: 80px;
    }
    .amazing-web-design-section .image-content img {
        width: 100%;
    }
}
/* Small Laptop */
@media screen and (max-width: 1100px) {
    .main-footer .footer-container .top-footer .main-column {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1.5fr 1fr;
        column-gap: 40px;
    }
    .main-common-section .main-common-container .target-main-column {
        column-gap: 40px;
        align-items: start;
        padding: 0px;
    }
    .common-heading {
        font-size: 29px;
        line-height: 36px;
    }
    .hero-section .main-column .content-column h1 {
        font-size: 39px;
        line-height: 49px;
        margin-bottom: 30px;
    }
    .trusted-section .main-column .trusted-content .trusted-images img {
        width: 100%;
    }
    .trusted-section .main-column .trusted-content h2 {
        margin-bottom: 15px;
    }
    .lumos-section {
        padding: 40px 20px;
        row-gap: 30px;
    }

}
/* Small Laptop */
@media screen and (max-width: 1024px) {
    .main-footer .footer-container .top-footer .main-column {
        display: grid;
        grid-template-columns: 2fr 1.5fr 1.5fr 1fr;
        column-gap: 40px;
    }
    .main-common-section .main-common-container .about-main-column {
        column-gap: 40px;
        padding: 35px 30px;
    }
    .main-common-section .main-common-container .target-main-column .content {
        row-gap: 20px;
    }
    .main-common-section .main-common-container .update-main-column {
        column-gap: 40px;
        padding: 40px;
    }
    .common-why-chose-section .container .common-why-chose-column {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .common-why-chose-image img{
        width: auto;
    }
    .common-why-chose-section {
        padding-bottom: 60px;
    }
    .common-why-chose-section .container .common-why-chose-column .common-why-chose-content {
        row-gap: 40px;
    }
    .common-why-chose-section .container .feature-card {
        gap: 15px;
    }
    .lumos-section .right-content .description {
        font-size: 16px;
        line-height: 23px;
    }
    .creative-service-header h2 {
        font-size: 29px;
        line-height: 36px;
    }
    .creative-service .creative-service-header p {
        font-size: 16px;
        line-height: 23px;
    }
}

/* Tablet Landscape */
@media screen and (max-width: 989px) {
    .inner-hero-section {
        padding: 120px 0;
    }
    .innaer-banner-heading {
        font-size: 48px;
        line-height: 59px;
    }
    .inner-hero-section .breadcrumb-custom {
        font-size: 18px;
    }
    .contact-section {
        background-color: var(--contact-bg);
        padding: 60px 20px;
    }
    .main-footer .footer-container .top-footer .main-column {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .contact-section .contact-container .contact-item i {
        font-size: 16px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .contact-section .contact-container .contact-item {
        font-size: 20px;
        line-height: 30px;
    }
    .main-common-section .main-common-container .about-main-column .content {
        row-gap: 25px;
    }
    .main-common-section .main-common-container {
        row-gap: 60px;
    }
    .main-common-section .main-common-container .update-main-column {
        grid-template-columns: 2fr 3fr;
        column-gap: 20px;
        padding: 30px;
    }

    .main-header {
        padding: 20px 20px;
        position: relative;
    }
    /* .main-header .main-column {
        position: relative;
    } */

    .hamburger {
        display: flex;
    }

    /* Hide menu & button by default */
    .menu-column, .button-column {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        padding: 40px 0;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 6px 12px rgba(0,0,0,0.2);
        z-index: 1000;
        border-top: 1px solid #dcdcdc5c;
    }

    /* Show menu & button when active */
    .menu-column.active, .button-column.active {
        display: block;
    }

    .main-header .main-column .menu ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin: 0;
    }
    .main-header .main-column .menu ul li {
        text-align: center;
        font-size: 20px;
    }
    .main-header .main-column .button-column {
        margin-top: 20px;
        text-align: center;
        display: none;
    }

    .main-header .main-column {
        flex-wrap: wrap;
    }
    .why-choose-us-section .paypal-features-grid {
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
    .addimage .img {
        margin-top: 20px;
        height: 28px;
    }
    .benifits-section .benifitst-column .benifitst-top-section {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
    .benifits-section .benifitst-column .benifits-bottom {
        grid-template-columns: 1fr 1fr;
    }
    .benifits-section .befifits-container .why-choose-us-section {
        gap: 40px;
    }
    .why-choose-us-section {
        gap: 40px;
    }
    .inner-hero-container {
        padding: 0px 20px;
    }
    .innaer-banner-heading {
        text-align: center;
    }
    .hero-section .main-column .image-column img {
        width: 100%;
    }
    .about-section .about-container .main-column {
        row-gap: 40px;
    }
    .amazing-web-design-section .content-container {
        display: flex;
        align-items: start;
        gap: 20px;
        margin: 40px 0px;
    }
    .why-choose-us-section .section-description {
        font-size: 18px;
        line-height: 27px;
    }
    .sub-heading-text {
        font-size: 20px;
        line-height: 29px;
    }
    .faq-section {
        width: 100%;
        padding: 40px 0px;
    }
    .faq-section .faq-container .faq-item .faq-question span{
        font-size: 18px !important;
        line-height: 24px;
        text-align: left !important;
    }
    
}

@media screen and (max-width: 800px) {
    .main-common-section .main-common-container .target-main-column {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

/* Tablet Portrait */
@media screen and (max-width: 768px) {
    .map-section {
        padding: 50px 20px;
    }
    .contact-section {
        background-color: var(--contact-bg);
        padding: 40px 20px;
    }
    .contact-section .contact-container {
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
    }
    .contact-section .contact-info {
        gap: 40px;
    }
    .contact-section .contact-container .contact-item {
        grid-template-columns: 1fr;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }
    .contact-section .contact-container .contact-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .common-heading {
        font-size: 20px;
        line-height: 32px;
    }
    .images-heading{
        display: flex;
        align-items: center;
    }
    .main-footer .footer-container .email-input {
        padding: 15px 0px;
        font-size: 16px;
        max-width: 200px;
    }
    .main-footer .footer-container .socket {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 15px;
    }
    .main-footer .footer-container .top-footer .main-column {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .socket .scoket-common:first-child {
        order: 4;
    }
    .main-footer .footer-container {
        padding: 40px 0px 20px 0px;
    }
    .main-common-section .main-common-container .about-main-column {
        padding: 20px;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .newsletter-about-section {
        padding: 80px 20px;
        margin-top: 60px;
    }
    .main-common-section .main-common-container .update-main-column {
        grid-template-columns: 1fr;
        row-gap: 20px;
        padding: 30px 20px;
    }
    .main-common-section .main-common-container .update-main-column .common-heading-content {
        row-gap: 10px;
    }
    .main-common-section .main-common-container .update-main-column .content {
        row-gap: 20px;
    }
    .why-choose-us-section .paypal-features-grid {
        grid-template-columns: 1fr;
        gap: 35px;
    }
    .benifits-section .benifitst-column .benifitst-top-section {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .benifits-section .benifitst-column .benifits-bottom {
        grid-template-columns: 1fr;
    }
    .benifits-section .benifitst-column {
        padding: 40px 20px;
    }
    .benifits-section .befifits-container .why-choose-us-section .features-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .why-choose-us-section .features-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .why-choose-us-section .feature-card {
        gap: 15px;
    }
    .hero-section .main-column {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .hero-section .main-column .content-column{
        order: 2;
    }
    .hero-section .main-column .image-column{
        order: 1;
    }
    .testimonial-container .testimonial-box .main-testimonial {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .testimonial-container .testimonial-box .main-testimonial .content {
        align-items: center;
    }
    .testimonial-container .avatar {
        margin-bottom: 0;
    }
    .testimonial-container .message {
        text-align: center;
    }
    .testimonial-container .swiper-pagination {
        justify-content: end;
        text-align: center !important;
    }
    .about-section {
        padding: 40px 0px;
    }
    .about-section .about-container .main-column .development {
        grid-template-columns: 1fr;
    }
    .trusted-section {
        padding: 40px 0px;
    }
    .lumos-section .top-column {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .about-section .about-container {
        display: block;
        align-items: center;
    }
    .about-section .about-container .main-column {
        display: block;
    }
    .lumos-section {
        margin: 40px 0px;
    }
    .lumos-section .stats-wrapper .count-time h3 {
        font-size: 20px;
        line-height: 39px;
    }
    .lumos-section .stats-wrapper .count-time span {
        font-size: 14px;
        line-height: 15px;
    }
    .creative-service .service-cards-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .creative-service .service-card.full-width {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr;
    }
    .creative-service-header {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .amazing-web-design-section .content-container {
        display: flex;
        align-items: start;
        gap: 20px;
        margin: 40px 0px;
    }
    .amazing-web-design-section .content-container {
        flex-direction: column;
    }
    .amazing-web-design-section .text-content {
        max-width: 100%;
        order: 2;
    }
    .amazing-web-design-section .image-content {
        max-width: 100%;
        order: 1;
    }
    .header-container {
        gap: 20px;
        flex-direction: column;
    }
    .why-choose-us-section .section-title {
        max-width: 100%;
    }
    .why-choose-us-section .section-description {
        max-width: 100%;
    }
}
@media screen and (max-width: 620px){
    .common-why-chose-image img{
        width: 100%;
    }
    .trusted-section .main-column .trusted-content .trusted-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 10px;
    }
    .lumos-section .stats-wrapper {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

} 


/* Large Mobile */
@media screen and (max-width: 575px) {
    .innaer-banner-heading {
        font-size: 32px;
        line-height: 47px;
    }
    .inner-hero-section {
        padding: 90px 0px;
    }
    .inner-hero-section .breadcrumb-custom {
        font-size: 16px;
    }
    .map-section .map-container img {
        height: 350px;
    }
    .contact-section .contact-container .contact-info .service-hours{
        text-align: center;
    }
   .main-footer .footer-container .email-input {
        padding: 12px 0px;
        max-width: 170px;
    }
    .main-footer .footer-container .newsletter-form {
        padding-right: 2px !important;
    }
    .contact-section .contact-container .contact-form-container h3 {
        margin-bottom: 30px;
    }
    .benifits-section .benifitst-column .common-column {
        padding: 18px;
    }
    .common-why-chose-image img{
        width: 100%;
    }
}

/* Mobile Landscape */
@media screen and (max-width: 480px) {
    .contact-section .contact-container .contact-details {
        grid-template-columns: 1fr;
    }
    .main-footer .footer-container .socket ul li {
        font-size: 12px;
        line-height: 17px;
        column-gap: 3px;
    }
    .main-footer .footer-container .socket {
        grid-template-columns: 1fr 1.5fr;
        row-gap: 20px;
    }
    .inner-hero-section .breadcrumb-custom {
        font-size: 12px;
    }
    .main-header {
      padding: 15px 20px;
    }
    .main-header .main-column .menu ul li {
      font-size: 18px;
    }
    .main-header .main-column .button-column .contact-button {
      font-size: 16px;
      padding: 12px 20px;
    }
}

/* Small Mobile */
@media screen and (max-width: 375px) {
   
}

/* Smallest Mobile */
@media screen and (max-width: 320px) {
   
}
