@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

/* CSS Variables for Typography */
:root{
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'Urbanist', sans-serif;
}

:root {
  --primary-color: rgba(44, 59, 35, 1);
  --secondary-color: rgba(43, 43, 43, 0.27); 
  --black-color: rgba(6, 8, 5, 1);
  --white-color: rgba(244, 242, 255, 1);
}

/* ==================================
    global class code here
=====================================*/
.innaer-banner-heading{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 64px;;
    line-height: 96px;
    letter-spacing: -5%;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FFFFFF 50%, #474747 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;
    display: inline-block;
}
.common-heading{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: #F4F2FF;
}
.text{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -2%;
    color: #D2D2D2;
}
.common-button{
    display: flex;
    column-gap: 10px;
    padding: 14px 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border: 1px solid transparent;
    background-image: linear-gradient(#2C3B23, #2C3B23), linear-gradient(90deg, #201CFF 0%, #B7E08A 80.05%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    transition: all 0.3s ease-in-out;
}
.common-button:hover {
    background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}
.addimage-heading,
.addimage{
    display: inline;
    position: relative;
}
.addimage-heading::after {
	content: "";
	display: block;
	width: 41px;
	height: 46px;
	bottom: -136px;
	left: 120px;
	background-image: url(../assets/images/Vector-13.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	position: absolute;
}
.addimage .img{
    position: absolute;
    right: -75px;
    margin-top: 28px;
    width: 41px;
    height: 46px;
}
.addimage .imges{
	position: absolute;
	right: auto;
	margin-top: 28px;
	width: 41px;
	height: 46px;
}
body{
    background: #060805;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*======================================
    header css code here 
========================================*/
.main-header{
    background-color: var(--primary-color);
    padding: 32px 80px;
}
.main-header .main-column{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.main-header .main-column .menu ul{
    display: flex;
    list-style: none;
    column-gap: 48px;
}
.main-header .main-column .menu ul li{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
}
.main-header .main-column .menu ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
}
.main-header .main-column .button-column .contact-button {
    display: flex;
    column-gap: 10px;
    padding: 14px 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border: 1px solid transparent;
    background-image: 
    linear-gradient(#2C3B23, #2C3B23), linear-gradient(90deg, #201CFF 0%, #B7E08A 80.05%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    transition: all 0.3s ease-in-out;
}
.main-header .main-column .button-column .contact-button:hover {
    background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}


/*========================================
    footer css code start 
==========================================*/
.main-footer{
    background-color: #060805;
    padding: 60px 80px;
}
.main-footer .footer-container{
    max-width: 1280px;
    margin:  0 auto;
}
.main-footer .footer-container .top-footer .main-column {
	display: grid;
	grid-template-columns: 2fr 1.5fr 1fr 2fr;
	column-gap: 40px;
}
.main-footer .footer-container .top-footer .main-columnn .footer .image{
    margin-bottom: 32px;
}
.main-footer .footer-container .top-footer .main-column .common-column .heading h2{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: #F4F2FF;
    margin-bottom: 16px;
}
.main-footer .footer-container .top-footer .main-column p{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
    color: #F4F2FF;
    margin-top: 20px;
}
.main-footer .footer-container .top-footer .main-column .common-column .content ul li{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    margin-bottom: 8px;
}
.main-footer .footer-container .top-footer .main-column .common-column .content ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.main-footer .footer-container .divider{
    height: 1.5px;
    border: 1.5px;
    background-color: #404142;
    margin: 40px 0px;
}
.main-footer .footer-container .socket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-footer .footer-container .socket h2{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -2%;
    text-transform: capitalize;
    color: #F4F2FF;
    margin-bottom: 16px;
}
.main-footer .footer-container .socket ul li{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
    display: flex;
    column-gap: 6px;
}
.main-footer .footer-container .socket ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.main-footer .footer-container .socket .social-link{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.main-footer .footer-container .socket .social-link li a i{
    background: #2C3B23;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #2C3B23;
    font-size: 20px;
    color: #A7DE83;
    transition: all 0.3s ease-in-out;
}
.main-footer .footer-container .socket .social-link li a i:hover{
    background: #A7DE83;
    border: 1px solid #A7DE83;
    color: #00211D;
}
.newsletter-form-container {
    display: inline-block; 
    border-radius: 50px;
    padding: 2px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid transparent;
    background-image: linear-gradient(#1A1A1A, #1A1A1A), linear-gradient(90deg, #201CFF 0%, #B7E08A 80.05%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    padding: 0px 10px;
}

.email-input {
    padding: 20px 10px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
    border: none;
    background: transparent;
    color: var(--text-color);
    outline: none;
    color: #FFFFFF;
}

.email-input::placeholder {
    color: #FFFFFF;
}

.subscribe-button {
    background-color: #A7DE83;
    color: #060805;
    border: none;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
}

.subscribe-button:hover {
    background-color: #000;
    color: #fff;
}
/* ===================================
    header and css code end
=======================================*/


/*========================================
    inner hero section css code here
==========================================*/
.inner-hero-section {
    padding: 206px 0;
    position: relative;
}
.inner-hero-section::after{
    content: '';
    background: url(../assets/images/innerafterbg.png) no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
}
.inner-hero-section  .content-column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-hero-section .breadcrumb-custom {
    display: flex;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -2%;
}

.inner-hero-section .breadcrumb-custom .breadcrumb-item {
    display: flex;
    align-items: center;
}

.inner-hero-section .breadcrumb-custom .breadcrumb-item a {
    color: #A7DE83;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.inner-hero-section .breadcrumb-custom .breadcrumb-item a:hover {
    color: #ffffff;
}

.inner-hero-section .breadcrumb-custom .breadcrumb-item.active {
    color: #ffffff;
}

.inner-hero-section .breadcrumb-custom .breadcrumb-item + .breadcrumb-item::before {
    content: "\f105"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600; 
    color: #ffffff;
    padding: 0 8px;
}
/* ===============================================
    inner hero section css code end
==================================================*/


/*========================================
    about section css code here
==========================================*/

.main-common-section .main-common-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}
.main-common-section .main-common-container .about-main-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 91px;
    padding: 80px 62px;
    background: #212121;
    border: 1px solid #2B2B2B45;
    border-radius: 20px;
}
.main-common-section .main-common-container .about-main-column .common-heading img{
    margin-right: 10px;
}
.main-common-section .main-common-container .about-main-column .content{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.main-common-section .main-common-container .update-main-column {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 91px;
    padding: 120px 62px;
    background: #212121;
    border: 1px solid #2B2B2B45;
    border-radius: 20px;
}
.main-common-section .main-common-container .update-main-column .common-heading-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-common-section .main-common-container .update-main-column .common-heading-content img{
    width: fit-content;
}
.main-common-section .main-common-container .update-main-column .content{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.main-common-section .main-common-container .target-main-column {
    display: grid;
    grid-template-columns: 2fr 2.1fr;
    column-gap: 80px;
    padding: 0px 20px;
    align-items: center;
}
.main-common-section .main-common-container .target-main-column .image-column img {
    width: 100%;
}
.main-common-section .main-common-container .target-main-column .content{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.main-common-section .main-common-container .target-main-column .content .target-content{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}


/*================================================
    Custom CSS for the contact section 
==================================================*/
.contact-section {
    background-color: #A7DE83; 
    padding: 120px 81px;
    color: #e0e0e0; 
}

.contact-section .contact-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px; 
}

.contact-section .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-section .contact-container .contact-info .text{
    color: #060805;
}
.contact-section .contact-container .contact-details {
    display: grid;
    gap: 15px;
}
.contact-section .contact-container .contact-item {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 15px;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -2%;
    color: #060805;
}

.contact-section .contact-container .contact-item i {
    font-size: 1.25rem;
    color: #fff;
    background: #060805;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
}

.contact-section .contact-container .service-hours .hours-bold{
    font-weight: 500 !important;
}
.contact-section .contact-container .service-hours p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -2%;
    color: #060805;
}
.contact-section .contact-container .contact-form-container h3 {
    margin-bottom: 40px;
    color: #000;
}

.contact-section .contact-container .contact-form .form-group {
    margin-bottom: 25px;
}

.contact-section .contact-container .contact-form input,
.contact-section .contact-container .contact-form select {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 1px solid #060805; 
    color: #060805;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -2%;
    outline: none;
    transition: border-color 0.3s;
}

.contact-section .contact-container .contact-form input::placeholder,
.contact-section .contact-container .contact-form select option {
    color: #060805;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -2%;
}
.contact-section .contact-container .contact-form input:focus,
.contact-section .contact-container .contact-form select:focus {
    border-bottom-color: #060805;
}

.contact-section .contact-container .contact-form select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23a0b2a8" viewBox="0 0 16 16"><path d="M8 10.5l-4-4h8l-4 4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    color: #060805;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -2%;
}
.contact-section .contact-container .contact-form .contact-common-button{
    display: flex;
    column-gap: 10px;
    padding: 14px 24px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2%;
    color: #060805;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border: 1px solid #060805;
}
.contact-section .contact-container .contact-form .contact-common-button:hover {
    background: linear-gradient(90deg, #078b14 0%, #04556b 100%);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

/*====================================
    payper click css code here
==================================== */

.why-choose-us-section .paypal-features-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 35px;
	margin: 0 auto;
}

/* =========================================
    common why choose section css code 
============================================*/
.common-why-chose-section{
    padding-bottom: 100px;
}
.common-why-chose-section .container{
    max-width: 1280px;
    margin: 0 auto;
}
.common-why-chose-section .container .common-why-chose-column{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    column-gap: 99px;
    row-gap: 40px;
}
.common-why-chose-section .container .common-why-chose-column .common-why-chose-content{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.common-why-chose-section .container .common-why-chose-column .content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.common-why-chose-section .container .common-why-chose-column .content .feature-content{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.common-why-chose-section .container .feature-card {
	background-color: transparent;
	display: flex;
	align-items: flex-start;
	gap: 24px;
	border-radius: 8px;
}
.common-why-chose-section .container .common-why-chose-column .content .read-more-link {
	font-family: var(--primary-font);
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0%;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 6%;
	gap: 5px;
	font-weight: bold;
	transition: transform 0.3s ease;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	gap: 30px;
	transition: all 0.3s ease-in-out;
}
.common-why-chose-section .container .common-why-chose-column .content .read-more-link:hover {
	text-decoration: none;
	color: #A7DE83;
    transform: translateX(5px);
}
.common-why-chose-section .common-why-chose-column .build-link-why-content .text{
    padding: 16px 18px;
    border-radius: 10px;
    background: #2C3B23;
}
/*=================================================
    common why choose section css code end
====================================================*/

.main-common-section .build-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-common-section .build-link img{
    width: fit-content;
}
.main-common-section .build-link-content-about strong{
    color: #fff;
}
.main-common-section .build-link-content-about {
    display: flex;
    flex-direction: column;
    row-gap: 48px !important;
}
.main-common-section .build-link-content-about .pra-text{
    display: flex;
    flex-direction: column;
    row-gap: 12px !important;
}
.benifits-section .build-link-benifitst-column{
    display: flex;
    flex-direction: column;
    gap: 70px !important;
}
