.main-common-section .why-choose-us-section .section-title {
    max-width: 76%;
    text-align: center;
    margin: 0 auto;
}
.benifits-section{
    margin: 120px 0px;
}
.benifits-section .befifits-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.benifits-section .benifitst-column{
    padding: 120px 61px;
    background: #212121;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.benifits-section .benifitst-column .benifitst-top-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
} 
.benifits-section .benifitst-column .benifitst-top-section .text-column{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.benifits-section .benifitst-column .benifitst-top-section .text-column img{
    width: fit-content;
}
.benifits-section .benifitst-column .common-column{
    padding: 24px;
    background: #2E2E2E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.benifits-section .benifitst-column .common-column:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
.benifits-section .benifitst-column  .common-column .feature-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.benifits-section .benifitst-column .benifits-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}


.benifits-section .befifits-container .why-choose-us-section{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.benifits-section .befifits-container .why-choose-us-section .features-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	margin: 0 auto;
}
.benifits-section .befifits-container .why-choose-us-section h2{
    width: 804px;
}

